/* Header.css */

.header {
    text-align: center;
    padding: 2rem 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.5rem;
    color: #888;
    margin-bottom: 1rem;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-info {
    flex: 1;
}

.profile-image {
    width: 100px;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
    /* Ensures the image fills the circular container */
    margin-right: 20px;
    /* Adjust as needed */
}